a:hover{
	text-decoration: none;
}
.center-error-text{
	text-align: center;
}
.page-links{
	margin: auto;
	width: 40%;
}
.filter-form{
	margin-top:30px;
}
.alert-message{
	margin-top: 40px;
}
.page-logo{
	width: 30%;
	max-width: 210px;
	margin-left:77%;
	margin-right:0%;
	height: 70px;
}
.page-title{
	margin-top: 25px;
}
.page-logo img{
	width:100%;
	height: 100%
}
#content .menubar{
	padding-right: 10px;
	padding-top: 10px;
	height: 90px;
}
.header{
	height: 150px;
	background: #041E54;
	padding:10px;
}
nav .login-logo{
	width: 27%;
	height: 130px;
	margin: 0;
	display: inline-block;
}
nav .login-logo img{
	height: 100%;
	width: 100%;
}
nav .login-heading{
	width:40%;
	display: inline-block;
}
#signin.clear #heading-text {
	font-family: arial, helvetica, sans-serif;
	font-size: 26px;
	color: #FFF;
	font-weight: bold;
	line-height: 44px;
	margin-left: 5%;
}
#signin.clear .login{
	margin-top:180px;
	padding-top: 60px;
}
@media (max-width: 506px){
	.header{
		height: 60px;
	}
	nav .login-logo{
		position: relative;
		top:-15px;
		height: 40px;
		display: inline-block;
	}
	#signin.clear #heading-text{
		font-size: 17px;
		line-height: 20px;
		width: 100%;
		margin-top: 0px;
	}
	nav .login-heading{
		width:65%;
	}
}
@media(max-width: 506px) and (min-width: 400px){
	nav .login-logo{
		top:-5px;
	}
}
@media (max-width: 686px) and (min-width: 507px){
	nav .login-logo{
		position: relative;
		top:-35px;
		height: 90px;
		display: inline-block;
		margin-right: 5%;
	}
	#signin.clear #heading-text{
		width: 100%;
		padding-top: 10px;
	}
	nav .login-heading{
		width:60%;
	}
}
@media (max-width: 1100px) and (min-width: 687px){
	nav .login-heading{
		width:65%;
		margin-left: 3%;
	}
}
